[Unit]
Description=basic exporter Server

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/local/bin/basic_exporter
[Install]
WantedBy=multi-user.target
